S3method(dim,bayeslr)
S3method(observe,bayeslr)
S3method(plot,bayeslr)
S3method(predict,bayeslr)
S3method(print,bayeslr)
S3method(samples,bayeslr)
export(bayeslr)
export(observe)
export(samples)
import(ggplot2)
importFrom(mvtnorm,rmvnorm)
